<!DOCTYPE html>
<html>
<head>
        <title>Index Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
<header>
        <h1>Task Manager</h1>
</header>

<div class="tasksContainer">
        <div id="0" class="container" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="center-top">Tasks</div>
                {% for task in tasks %}
                    {% if task.getUserId() == 0 %}
                        <div class="item" draggable="true" ondragstart="drag(event)" id="{{ task.getId() }}">{{ task.getName() }}</div>
                    {% endif %}
                {% endfor %}
        </div>
</div>
<div class="usersContainer">
        <div id="2" class="container" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="center-top">User 2</div>
                <div class="bottom-right">2</div>
        </div>
        <div id="1" class="container" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="center-top">User 1</div>
                <div class="bottom-right">1</div>
        </div>
        <div id="3" class="container" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="center-top">User 3</div>
                <div class="bottom-right">3</div>
        </div>
</div>

<script src="static/js/dragAndDrop.js"></script>
</body>
</html>
